@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background: #f8fafc;
}

@media print {
  body {
    background: white;
  }

  main {
    max-width: none;
    padding: 0;
  }

  /* עוזר לדפדפנים מסוימים להתיישר על A4 */
  @page {
    size: A4;
    margin: 0;
  }
}
